# Archivos objeto y binarios
*.o
*.a
*.bin
*.sys
*.elf
*.qcow2
*.img
*.vmdk
# Carpetas de editor
.vscode/
*.json
compile_flags.txt

# Basura del fileSystem
.DS_Store
*.log
*.out
.claude
.cache 

# Historiales locales que no van al repo
.bash_history
.bashrc
.viminfo

# Análisis estático (PVS-Studio) y base de compilación (bear)
pvs_report/
strace_out
compile_commands.json
*.PVS-Studio.*
