# Archivos objeto y binarios
*.o
*.bin
*.elf

# Carpetas de editor
.vscode/
*.json

# Basura del fileSystem
.DS_Store
*.log
*.out
.claude
.cache 

# Historiales locales que no van al repo
.bash_history
.bashrc
.viminfo
